<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
    <section name="strategyManager" type="StarshipSeven.StrategyManager.Configuration.StrategyManagerConfiguration, StarshipSeven.StrategyManager"/>
    <section name="savegameManager" type="StarshipSeven.SavegameManager.Configuration.SavegameManagerConfiguration, StarshipSeven.SavegameManager"/>
  </configSections>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <container>
      <register type="StarshipSeven.GameInterfaces.Factories.IGameFactory, StarshipSeven.GameInterfaces" mapTo="StarshipSeven.GameEntities.Factories.GameFactory, StarshipSeven.GameEntities"/>
      <register type="StarshipSeven.GameInterfaces.Strategy.IBattleHandler, StarshipSeven.GameInterfaces" mapTo="StarshipSeven.DefaultBattleHandler.DefaultBattleHandler, StarshipSeven.DefaultBattleHandler"/>
      <register type="StarshipSeven.DataInterfaces.Managers.IStrategyManager, StarshipSeven.DataInterfaces" mapTo="StarshipSeven.StrategyManager.NativeStrategyManager, StarshipSeven.StrategyManager"/>
      <register type="StarshipSeven.DataInterfaces.Managers.ISavegameManager, StarshipSeven.DataInterfaces" mapTo="StarshipSeven.SavegameManager.NativeSavegameManager, StarshipSeven.SavegameManager"/>
      <register type="StarshipSeven.DataInterfaces.Managers.IGameStateManager, StarshipSeven.DataInterfaces" mapTo="StarshipSeven.GameEntities.Managers.GameStateManager, StarshipSeven.GameEntities"/>
    </container>
  </unity>

  <strategyManager assemblySource="AI"/>

  <savegameManager savegameCatalog="Saves"/>
  
</configuration>