<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="savegameManager" type="StarshipSeven.SavegameManager.Configuration.SavegameManagerConfiguration, StarshipSeven.SavegameManager"/>
    <section name="strategyManager" type="StarshipSeven.StrategyManager.Configuration.StrategyManagerConfiguration, StarshipSeven.StrategyManager"/>
  </configSections>

  <strategyManager assemblySource="AI"/>
  
  <savegameManager savegameCatalog="Saves"/>
  
</configuration>